<div class="search-results card-deck justify-content-center align-items-center flex-wrap">
  <ul>
  <% @users.each do |user| %>
    <%= link_to user_path(user.id), class: "card mb-3" do %>
      <div class="w-100 card-body">
        <%= user.first_name %>  <%= user.last_name %>
      </div>
    <% end %>
  <% end %>
  </ul>
</div>