<div class="w-75 text-center m-auto">
    <h4 class="mb-5">Create a profile</h4>
</div>

<%= render 'form', user: @user, roles: @roles, locations: @locations, skills: @skills %>

<div class="text-center mb-5">
  <%= link_to 'Back to users', users_path %>
</div>