<meta HTTP-EQUIV="REFRESH" content=<%= @redirect %>>
<div class="custom-container mt-5 text-center">
  <h3 class="display-6">
    Thanks for your donation! You'll be redirected shortly.
  </h3>
</div>