/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 html {
   scroll-behavior: smooth;
 }

 a:hover {
   text-decoration:none; 
 }
 
 .spacer {
  height: 80vh;
 }

 .btn-default {
  border-radius: 40px;
}

.btn-default-sm {
  border-radius: 30px;
}

.notification {
  background: #dddddd;
  border-color: #dddddd;
  color: #FFFFFF;
  width: 30px;
}

.jumbotron {
  height: 70vh;
  background: none;
  border: none;
}

ul {
  list-style:none;
}



.circle {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}



.search {
  width: 80px;
  height: 80px;
}

.msg {
  width: 40px;
  height: 40px;
  // border: 0.5px solid #0011ff;
}

.nav {
  width: 30px;
  height: 30px;
  // border: 0.5px solid #0011ff;
}



.fixed-width-pic {
  flex: 0 0 100px;
}

.filtered {
  // background: #0011ff;
}

.filtered img {
  // mix-blend-mode: screen;
  // -webkit-filter: grayscale(100%) contrast(100%);
  // filter: grayscale(100%) contrast(100%);
  // opacity: 1;
}

.bottom-bord {
  border-bottom: 1px solid #dddddd;
}

.btn-primary {
  background: #0011ff;
  border-color: #0011ff;

  &:hover {
    background: #3240ff;
  }
}

.btn-outline-primary {
  border: 1px solid #0011ff;
  color: #0011ff;

  &:hover {
    background: #0011ff;
    border: 1px solid #0011ff;
  }
}

textarea {
  resize: none;
}

.custom-card {
  font-size: 11pt;
}

.small {
  font-size: 9pt;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}