/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "footer";
 @import url("https://use.typekit.net/udf3jvw.css");
 @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700');

 $blue: #0011ff;
 $black: #000000;
 $yellow: #fddc1c;

 * {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
 }

 html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

a {
  color: $blue;
}

.home {
  background: url('beans2.svg') no-repeat right;
  background-size: 100%;
  background-position-y: 100px;
}

 .alerts {
   position: absolute;
   bottom: 50px;
   right: 50px;
   width: auto;
   z-index: 2;
 }

 .yellow {
  background-color: $yellow;
 }

 .landing {
   min-height: 100vh;
 }
 
h1, h2 {
  font-family: futura-pt, sans-serif;
  letter-spacing: 0.5px;
  font-style: normal;
  font-weight: 600;
  font-style: normal;
}

p {
  font-weight: 700;
  font-size: 18px;
}
 .navbar-brand {
  width: 100px;
 }

 .navbar-light {
  background-color: white;
 }

 .navbar-light .navbar-nav .nav-link {
  color: $black;

  &:hover {
    color: $blue;
  }
}

 a:hover {
   text-decoration:none; 
 }

 .btn-default {
  border-radius: 40px;
}

.btn-default-sm {
  border-radius: 30px;
}

.notification {
  background: #dddddd;
  border-color: #dddddd;
  color: #FFFFFF;
  width: 30px;
}

ul {
  list-style:none;
}

.circle {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}



.search {
  width: 80px;
  height: 80px;
}

.msg {
  width: 40px;
  height: 40px;
}

.nav {
  width: 30px;
  height: 30px;
}



.fixed-width-pic {
  flex: 0 0 100px;
}


img.filter {
  -webkit-filter: grayscale(100%) contrast(100%);
  filter: grayscale(100%) contrast(100%);
}

.bottom-bord {
  border-bottom: 1px solid #dddddd;
}

.btn-primary {
  background: $blue;
  border-color: $blue;

  &:hover {
    background: #3240ff;
  }

}

.btn-outline-primary {
  border: 1px solid $blue;
  color: $blue;
}

textarea {
  resize: none;
}

.custom-card {
  font-size: 11pt;
}

.small {
  font-size: 9pt;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

.custom-container {
  margin: auto;
  min-height: 500px;

  @include media-breakpoint-only(xl) {
    width: 60%;
  }
  @include media-breakpoint-only(lg) {
    width: 75%;
  }
  @include media-breakpoint-only(md) {
    width: 80%;
  }
  @include media-breakpoint-only(sm) {
    width: 100%;
  }
}

.form-sm {
  margin: auto;

  @include media-breakpoint-only(xl) {
    width: 400px;
  }
  @include media-breakpoint-only(lg) {
    width: 55%;
  }
  @include media-breakpoint-only(md) {
    width: 75%;
  }
  @include media-breakpoint-only(sm) {
    width: 100%;
  }
}

.form-lg {
  margin: auto;

  @include media-breakpoint-only(xl) {
    width: 700px;
  }
  @include media-breakpoint-only(lg) {
    width: 700px;
  }
  @include media-breakpoint-only(md) {
    width: 85%;
  }
  @include media-breakpoint-only(sm) {
    width: 100%;
  }
}


.footer {
  width: 100%;
  padding: 60px;
  position: relative;
  bottom: 0px;
}

.pagination {
  justify-content: center;
  padding-top: 30px;
}