/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 html {
   scroll-behavior: smooth;
 }

 .spacer {
  height: 80vh;
 }

 .btn-default {
  border-radius: 40px;
}

.btn-default-sm {
  border-radius: 30px;
}

.jumbotron {
  height: 70vh;
}

ul {
  list-style:none;
}



.circle {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.search {
  width: 80px;
  height: 80px;
}

.fixed-width-pic {
  flex: 0 0 100px;
}