// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #FFFFFF;
  font-family: sans-serif;
  line-height: 1.5em;
}

.container {
  background: #FFFFFF;
  width: 70%;
  margin: 10vh auto;
  padding: 20px;
}